/* You can add global styles to this file, and also import other style files */
:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    height: 100vh;
    background: linear-gradient(#1958df, #903ddf , #1958df);
}